<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="registr1.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="content">
          <div class="left-side">
            <div class="address details">
                <i class="fa-solid fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">ott.vladis@yandex.ru</div>
              <div class="text-two"></div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Регистрация</div>
            <form action="#">
              <div class="input-box">
                <input type="text" placeholder="Имя" />
              </div>
              <div class="input-box">
                <input type="text" placeholder="Email" />
              </div>
              <div class="input-box">
                 <input type="text"  placeholder="Номер телефона" />
              </div>
              <div class="input-box">
                <input type="text" placeholder="Пароль" />
              </div>
              <div class="button">
                <input type="button" value="Зарегестрироваться" />
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>